<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856087418354-9jc878q279t74j472m98a921qrih6vup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856087418354-9jc878q279t74j472m98a921qrih6vup</string>
	<key>API_KEY</key>
	<string>AIzaSyAB5VN3gzEHRpMntlqvY5Czd24dDJkkzMI</string>
	<key>GCM_SENDER_ID</key>
	<string>856087418354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fyp</string>
	<key>PROJECT_ID</key>
	<string>homeservice-bba23</string>
	<key>STORAGE_BUCKET</key>
	<string>homeservice-bba23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856087418354:ios:7c75f392a7dbb47c68476b</string>
</dict>
</plist>